html { 
  background: url('../images/class.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	font-family: 'Patrick Hand SC', cursive;
	font-family: 'Permanent Marker', cursive;
}

main {
	margin: auto;
	width: 60%;
	padding: 2%;
	background-image: url("../images/chalkboard-background.jpg");
	border: 2px solid grey;
}

#warning{
	color: red;
}

h1 {
	color: white;
}

.centerText {
	margin: auto;
	line-height: 100%;
}

.header {
	font-size: 30px;
	text-align: center;
}

.difficulty {
	display: inline-block;
	color:	lightblue;
	text-align: center;
	padding: 2%;
}

section {
	width: 90%;
}
.left-container {
	width: 40%;
	float: left;
}

.right-container {
	width: 40%;
	float: left; 
}

/* .row {
	display: inline-block;
	width: 100%;
} */

.row:after {
  content: "";
  display: table;
  clear: both;
}